ak_result.txt
all_results_assembled.txt
all_results_assembled2.txt
all_results_assembled3.txt
all_results_assembled4.txt
all_results_assembled5.txt
all_results_assembled6.txt
all_results.txt
dxl_result.txt
plot_results.ipynb
